/* components/Navbar.module.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #333;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
  height: 65px;
}

.sticky {
  position: fixed;
  z-index: 1000;
  background-color: #333;
  transition: all 0.3s ease-out 0s;
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
}

.lineBreaker {
  border-bottom: 1px solid rgb(245, 240, 240);
}

.charteredText {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}

.logo a {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 30px;
}

.navLinks a {
  color: #fff;
  text-decoration: none;
  font: medium;
  cursor: pointer;
}

.navLinks li.active a {
  color: #ff6347;
}

.navLinks a:hover {
  color: #ff6347;
  transition: color 0.3s;
}

@media (max-width: 768px) {
  .navbar {
    padding: 10px 20px;
    justify-content: flex-start;
  }

  .navLinks {
    display: none;
  }

  .logo {
    text-align: left;
  }

  .logo a {
    font-size: 18px;
  }

  .charteredText {
    font-size: 10px;
  }
}
