/* components/Navbar.module.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
  height: 65px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.sticky {
  position: fixed;
  z-index: 1000;
  background-color: #ffffff;
  transition: all 0.3s ease-out 0s;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.lineBreaker {
  border-bottom: 2px solid #e5e7eb;
}

.companyName {
  color: #1f2937;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

.charteredText {
  color: #1f2937;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 30px;
}

.navLinks a {
  color: #4b5563;
  text-decoration: none;
  font: medium;
  cursor: pointer;
  transition: color 0.3s;
}

.navLinks li.active a {
  color: #60a5fa; /* Changed to match the theme */
}

.navLinks a:hover {
  color: #60a5fa; /* Changed to match the theme */
}

@media (max-width: 768px) {
  .navbar {
    padding: 10px 20px;
    justify-content: flex-start;
  }

  .navLinks {
    display: none;
  }

  .logo {
    text-align: left;
  }

  .companyName {
    font-size: 16px;
  }

  .charteredText {
    font-size: 12px;
  }
}
