/* components/WhoWeAre.module.css */
.whoWeAre {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1e1e1e;
  color: #fff;
  padding: 40px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.headingContainer {
  text-align: center;
  margin-bottom: 30px;
}

.textContainer {
  flex: 1;
  margin-right: 100px;
  text-align: left;
}

.title {
  font-size: 48px;
}

.subtitle {
  font-size: 20px;
  margin-top: 2rem;
}

.paragraph {
  margin-top: 1.5rem;
  font-size: 20px;
  line-height: 1.5;
}

.contentContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.imageContainer {
  flex-shrink: 0;
  margin-left: 20px;
}

.image {
  border-radius: 8px;
}
