.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
  height: 65px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.sticky {
  position: fixed;
  z-index: 1000;
  background-color: #ffffff;
  transition: all 0.3s ease-out 0s;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.lineBreaker {
  border-bottom: 2px solid #e5e7eb;
}

.companyName {
  color: #082567;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.charteredText {
  color: #1f2937;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 30px;
}

.navLinks a {
  color: #4b5563;
  text-decoration: none;
  font: medium;
  cursor: pointer;
  transition: color 0.3s;
}

.navLinks li.active a {
  color: #082567;
}

.navLinks a:hover {
  color: #082567;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  z-index: 1001;
}

.hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #1f2937;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

/* Hamburger Animation */
.hamburger.open span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

@media (max-width: 768px) {
  .navbar {
    padding: 10px 20px;
    justify-content: space-between;
  }

  .hamburger {
    display: flex;
  }

  .mobileMenuOverlay {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    transition: all 0.3s ease-in-out;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mobileMenuOverlay.open {
    left: 0;
  }

  .navLinks {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navLinks li {
    margin-bottom: 20px;
    font-size: 24px;
  }

  .logo {
    text-align: left;
  }

  .companyName {
    font-size: 20px;
  }

  .charteredText {
    font-size: 12px;
  }
}
